<!-- Salut à tous!
  <app-search-bar></app-search-bar>
<div id="main-container">
  <app-article></app-article>
</div>
<app-direct-class></app-direct-class>
<app-direct-style></app-direct-style>
<app-direct-hidden></app-direct-hidden>
<app-direct-struct-if></app-direct-struct-if>
<app-direct-struct-if-sup></app-direct-struct-if-sup>
<app-direct-struct-switch></app-direct-struct-switch>

<app-direct-event-sup></app-direct-event-sup> -->
<app-navigation></app-navigation>
<router-outlet></router-outlet>